services:
  rabbitmq:
    image: rabbitmq:4.0.9-alpine
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5552:5552"
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    volumes:
      - ./rabbitmq-data:/var/lib/rabbitmq
volumes:
  rabbitmq-data: